<div id="color-header">
  <div class="boton-atras">
    <img src="assets/img/atras.png" routerLink='/login'>  
  </div><!---cierre boton atras -->
    
    <div class="cerrar-sesion">
      <img src="assets/img/logout.png" slot="end" routerLink='/login'>
    </div><!---cierre cerrar sesion-->
      <h1>Mi Perfil</h1>
  
  </div><!----cierre div header-->
  

<ion-content>
  <div id="margen-contenido">
    <div class="fondo-contenido">
      <div class="img-alumno">
        <img src="assets/img/perfil-alumno.png" width="140px">
      </div><!------cierre imagen perfil-->
      <b><p>José Miguel</p></b>
      <hr>
        <div id="informacion-perfil">        
        <p>Rut: 11.123.456-8 </p>
        <p>Fecha Nacimiento: 20-06-1992</p>
        <p>Semestre: 4</p>
        <p>Correo:miguelito@duocuc.cl</p>
        
      </div><!---cuerre div informacion perfil-->
      <hr>
        <button id="modificar-perfil">EDITAR</button>
       

    <div class="qr"><img src="assets/img/QR.png"></div><!---cierre del div QR-->
  </div><!---cierre fondo contenido-->
  
  </div><!---cierre div contenido-->
 

</ion-content>





