
    <div id="color-header" >
              
        <div class="cerrar-sesion">
          <img src="assets/img/logout.png" slot="end" routerLink='/login'>
        </div><!---cierre cerrar sesion-->
          <h1>Administrador</h1>
      
      </div><!----cierre div header--> 

<ion-content >

  <form [formGroup]="perso" (ngSubmit)="registrar()">
    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input type="text" placeholder="Ingrese rut con puntos y guión" formControlName="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre completo</ion-label>
      <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom_completo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="mail" placeholder="Ej : juanitperez@gmail.com" formControlName="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha nacimiento</ion-label>
      <ion-input [max]="today" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" type="date" placeholder="Ingrese fecha nacimiento" formControlName="fecha_nac"></ion-input>
    </ion-item>
 
    <ion-list>
      <ion-item>
        <ion-label position="stacked" >Tipo Usuario</ion-label>
        <ion-select placeholder="Selecciona" formControlName="tipo_usuario">
          <ion-select-option value="administrador">Administrador</ion-select-option>
          <ion-select-option value="alumno">Alumno</ion-select-option>
          <ion-select-option value="docente">Docente</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="stacked">Semestre</ion-label>
      <ion-input type="number" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese contraseña" formControlName="clave"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Repita Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
    </ion-item>
  <div id="centrar-botoncitos" >
    <button id="botoncito" class="azul" type="submit" [disabled]="!perso.valid">Registrar</button>    
    <button id="botoncito" class="morado" (click)="modificar()">Modificar</button>
    <button id="botoncito" class="verde" (click)="limpiar()">Limpiar</button>
  </div>
  </form>

  <div id="lista-usuarios" >
    <h2>LISTA DE USUARIOS</h2>
    <ion-list *ngFor="let usuario of personas" >
      <hr>
      <p>{{usuario.rut}} - {{usuario.nom_completo}} - {{usuario.fecha_nac}} - {{usuario.semestre}} - {{usuario.tipo_usuario}} </p>
      
      <div id="iconos" (click)="buscar(usuario.rut)"><img src="assets/img/buscar.png">Buscar</div>
      <div id="iconos" (click)="eliminar(usuario.rut)"><img src="assets/img/eliminar.png">Eliminar</div>  
        
    </ion-list>

  </div>
  
</ion-content>

