<div id="color-header">
  <div class="boton-atras">
    <img src="assets/img/atras.png" routerLink='/login'>  
    </div><!---cierre boton atras -->
    
    <div class="cerrar-sesion">
      <img src="assets/img/logout.png" slot="end" routerLink='/login'>
    </div><!---cierre cerrar sesion-->
        <h1>Mi Perfil</h1>  
  </div><!----cierre div header-->
  

<ion-content>

    <div class="fondo-contenido">
        <div class="img-docente">
          <img src="assets/img/perfil-docente.png" width="140px">
        </div><!------cierre imagen perfil-->
        <b><p>Alan Brito </p></b>
        <hr>
          <div id="informacion-perfil">
          
          <p>Rut: 11.123.456-8 </p>
          <p>Fecha Nacimiento: 05-10-1990</p>

          <p>Correo:alanbrito@profesor.duoc.cl</p>
          
        </div><!---cuerre div informacion perfil-->
        <hr>
          <button id="modificar-perfil">EDITAR</button>
        

        <div class="qr"><img src="assets/img/QR.png"></div><!---cierre del div QR-->
    </div><!---cierre fondo contenido-->
  
</ion-content>





